---
// No frontmatter needed
---

<header class="navbar">
    <div class="logo">
      <img src="../../font01White02.png" alt="SynthyThings Logo" />
    </div>
  
    <nav class="nav-links">
      <ul>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
  
  <style>
  .navbar {
    width: 100%;
    /* background-color: #000; */
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
    position: relative;
  }
  
  .logo img {
    height: 100px; /* or whatever height fits nicely */
    margin-bottom: 1.5rem; /* <--- this pushes the nav down cleanly */
  }
  
  .nav-links ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }
  
  .nav-links a {
    color: #00ff99;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  </style>
  