---
import '../styles/global.css';  // Import the global CSS
import Navbar from '../components/Navbar.astro';
import LogoPage from '../components/LogoPage.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SynthyThings - Shop</title>
  </head>
  <body>
    <header class="navbar navbar-page">
        <LogoPage />
        <div class="pagetitle">
            SHOP
        </div>
        <Navbar />
    </header>
  </body>
</html>
